div#flex_container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#flex_container>div:first-child{
    width:  70%;
}
#flex_container>div:last-child{
    width:  30%;
}
.buttons{
    background-color: red;
}
div.menu,div#user_wrapp{
    width: 100%;
    background-color: #65785F;
    margin-bottom: 2rem;
    
}
div#user_wrapp{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
div#user_wrapp button#new_user_button{
    align-self: flex-end;
    
}
ul#list_of_users{
    padding: 0;
}
ul#list_of_users li.user{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color:#849280 ;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
button.new_button{
    background-color: #628956;
    padding: 1rem 3rem;
    color:white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button.shadow{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
div.user{
    display: flex;
    flex-direction: row;
   
}
button.button_link{
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
div.menu ul{
    display: flex;
    flex-direction: row;
        
}
div.menu ul li  {
   list-style: none;
   
}
div.menu ul li a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: #628956;
    padding: 1rem 3rem;
    display: block;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 }
 div.menu ul li a.selected {
    background-color: #59A83D;
 }
 #wrapper{
    padding: 1rem 4rem;
    margin: 0 auto;
    background-color: #0D2E02;
    height: 100vh;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-image: linear-gradient(to left, red, #11340A) 1;
    border-image: linear-gradient(to right, #21421b, #1A1A1A) 1;
 }
 /*AutoGPT*/
 #iteration_bar{
    background-color: #70816B;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-top: 1rem;
 }
 #chat{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
 }
 #input-area{
    flex: 0 50%;
 }
 #input_area textarea{
    border: none;
    background-color: #849280;
 }
 #action_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .iteration_button{
    background-color: #628956;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 0.5rem 1rem;
 }
 #output{
    flex: 0 60%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .spaced_inputs{
    display: flex;
    flex-direction: row;
 }
 .spaced_inputs *{
    flex: 0 60%;
 }
 #response_ai{
    min-height: 20rem;
    padding: 1rem 2rem;
    background-color: #849280;
 }
/*Login page*/
div#login{
    margin: 0 auto;
    width:40%;
    height: 40rem;
    background-color: #65785F;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
div#login>div{
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#btn_login{
    align-self: center;
}
body,html{
    margin: 0 ;
    padding: 0 ;
    color: white !important;
    box-sizing: border-box;
}